<template>
    
    <div v-bind:class="{container: containerize}">
        <div v-if="show_logo">
            <img class="float-left clearfix " src="../assets/u-engineering-logo.svg" alt="" width="300" height="auto">
            <div class="clearfix"></div>
        </div>
        
        <div v-if="show_description" class="py-3 text-center">
            <h2>Form Viewer</h2>
            <p class="lead">Loads a json configured form built with vue-form-builder</p>
        </div>

        <div class="form container-fluid">
            <div class="row" v-for="(element, key) in form_json_with_prefill" v-bind:key="key">
                <div id="element" class="col-md-12">                    
                    <FormElementRenderer :read_only="read_only" :element_json="element" v-on:form_answer="saveAnswer" ref="form_elements" :validate="validate"> </FormElementRenderer>
                </div>
            </div>
        </div>
    </div> 
    
</template>

<script>
import FormElementRenderer from './FormElementRenderer';
import _ from 'lodash';


var default_settings = { validate: false };

export default {
  
  name: 'FormRenderer',
  components: {
    FormElementRenderer
  },
  data () {
    var merged_settings = {};
    Object.assign(merged_settings, default_settings, this.settings);
    
    return {
      form_answers: {},
      validate: merged_settings.validate,
    }
  },
  props: {
    form_json: {},
    show_logo:{
        default: false
    },
    show_description: {
        default: false
    },
    containerize:{
        default: false
    },
    prefill: {},
    read_only: {
        default: false
    },
    'settings': {type: Object, default: () => {}},
  },
  computed: {
    form_json_with_prefill() {
        if (!this.prefill) {
            return this.form_json;
        }
        for(var i in this.form_json) {
            var key = this.form_json[i].attributes.name.value;
            
            if (typeof(this.prefill[key]) !== 'undefined') {
                //special case for checkbox
                if (this.form_json[i].attributes.type.value == 'checkbox' &&
                    this.form_json[i].attributes.multiple.value == false
                    ) {
                    var value   = this.form_json[i].attributes.value.value;
                    var checked = (this.prefill[key] == value);
                    this.form_json[i].attributes.checked.value = checked;
                } else {
                    this.form_json[i].attributes.value.value = this.prefill[key];
                }
            }
        }
        this.$nextTick( () => { this.$emit('prefill_complete') } );
        return this.form_json;
      }    
  },

  methods: {
    saveAnswer(form_answer){
        this.form_answers[form_answer.name] = form_answer;
        this.$emit('form_answers', this.form_answers);
    },
    getElementByIdAttribute(id) {
        try {
            var formElementRenderers = this.$children;
            for (const formRenderer of formElementRenderers) {
                if (formRenderer.$children[0].element_json.attributes.id.value == id) {
                    return formRenderer.$children[0];
                }
            }
        } catch (e) {
            return null;
        }
    },
    getElementByNameAttribute(id) {
        try {
            var formElementRenderers = this.$children;
            for (const formRenderer of formElementRenderers) {
                if (formRenderer.$children[0].element_json.attributes.name.value == id) {
                    return formRenderer.$children[0];
                }
            }
        } catch (e) {
            return null;
        }            
    },    
    getValue(id) {
        var element = this.getElementByIdAttribute(id);
        return element.input_value ? element.input_value : null;
    },
    setValue(id, val) {
        var element = this.getElementByIdAttribute(id);
        if (element) {
            element.input_value = val;
        }
    },
    setValueByName(name, val) {
        //try by name
        var element = this.getElementByNameAttribute(name);
        if (element) {
            element.input_value = val;
        }
    },
    isValid(){
        
        var valid = _.every(this.$refs.form_elements, (element) => {
            console.log(element.name);
            if(element.hidden){
                return true;
            }
            //if no error, assume valid
            return element.isValid();
        });
        
        return valid;
    }
  },
  watch:{
    form_answers (new_val){
        this.$emit('form_answers', new_val);
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
div.form{
    border: 1px #ccc solid;
    padding: 20px;
}
</style>
