<template>
    <fieldset class="form-group">
        <div v-if="!hidden" class="row">
            <label class="col-sm-3 col-form-label" v-bind:for="id"><span class="required-indicator" v-if="required">*</span>{{label}}</label>
            <div class="col-sm-9">
                <div v-if="read_only" class="vue-form-renderer-value">
                    {{read_only_value(input_value)}}
                </div>
                <select v-else 
                  class="form-control mr-sm-2" 
                  :multiple="multiple ? true : false" 
                  :required="required"
                  :name="name" 
                  :id="id" 
                  v-model="input_value">
                    <option disabled value="">Choose...</option>
                    <option v-for="option in options" :value="option.value">{{option.text}}</option>
                </select>
            </div>
        </div>
    </fieldset>
</template>
<script>
import FormElementBase from './FormElementBase'
import _ from 'lodash'
export default {
  name: 'FormElementSelect',
  extends: FormElementBase,
  computed: {
    multiple: function(){
        if (this.element_json.attributes.multiple) {
          return this.element_json.attributes.multiple.value;
        }
        return false;
    }
  },  
  data () {
    return {
     
    }
  },
  methods: {
    read_only_value: function (value) {
      var opt = this.options.filter(function(option) {
        return option.value == value;
      });
      if (opt && opt[0] && opt[0].text) {
        return opt[0].text;
      }
      return value;
    }
  },
  watch: {
    input_value: function(){
        this.emitFormAnswer();
    },
    input_values: function(){       
        this.emitFormAnswers();
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
