<template>
    <div class="container-fluid"  data-app>
        <div class="col-sm-9 offset-3" v-if="validate">
            <div class="error" v-if="showError('required')">{{label}} Field is required</div>
        </div>
        <FormElementHeader v-if="type == 'header' " :read_only="read_only" :element_json="element_json"> </FormElementHeader>
        <FormElementHtml v-else-if="type == 'html' " :read_only="read_only" :element_json="element_json"> </FormElementHtml>
        <FormElementButton v-else-if="type == 'button' " :read_only="read_only" :element_json="element_json"> </FormElementButton>
        <FormElementParagraph v-else-if="type == 'paragraph' " :read_only="read_only" :element_json="element_json"> </FormElementParagraph>
        <FormElementSelect v-else-if="type == 'select' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementSelect>
        <FormElementInput v-else-if="type == 'text' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementInput>
        <FormElementRadio v-else-if="type == 'radio' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementRadio>
        <FormElementCheckbox v-else-if="type == 'checkbox' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementCheckbox>
        <FormElementWysiwyg v-else-if="type == 'wysiwyg' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementWysiwyg>
        <FormElementTinymce v-else-if="type == 'tinymce' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementTinymce>
        <FormElementTextarea v-else-if="type == 'textarea' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementTextarea>
        <FormElementInput v-else-if="type == 'number' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementInput>
        <FormElementInput v-else-if="type == 'date' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementInput>
        <FormElementTime v-else-if="type == 'time' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementTime>
        <FormElementFile v-else-if="type == 'file' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementFile>
        <FormElementImage v-else-if="type == 'image' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementImage>
        <FormElementAutocomplete v-else-if="type == 'autocomplete' " :read_only="read_only" :element_json="element_json" v-on:form_answer="emitAnswer"> </FormElementAutocomplete>
        <div v-else>
            <div class="alert alert-danger" role="alert">
                Ooops, we don't have this form type....
            </div>
        </div>
    </div>
</template>
<script>
import FormElementSelect from './FormElementSelect'
import FormElementTime from './FormElementTime'
import FormElementInput from './FormElementInput'
import FormElementRadio from './FormElementRadio'
import FormElementCheckbox from './FormElementCheckbox'
import FormElementHeader from './FormElementHeader'
import FormElementParagraph from './FormElementParagraph'
import FormElementWysiwyg from './FormElementWysiwyg'
import FormElementTinymce from './FormElementTinymce'
import FormElementTextarea from './FormElementTextarea'
import FormElementButton from './FormElementButton'
import FormElementFile from './FormElementFile'
import FormElementImage from './FormElementImage'
import FormElementHtml from './FormElementHtml'
import FormElementAutocomplete from './FormElementAutocomplete'
import _ from 'lodash';

import { required,  } from "vuelidate/lib/validators";
export default {
    name: 'FormElementRenderer',
    components: {
        FormElementSelect,
        FormElementTime,
        FormElementInput,
        FormElementRadio,
        FormElementCheckbox,
        FormElementHeader,
        FormElementParagraph,
        FormElementWysiwyg,
        FormElementTinymce,
        FormElementTextarea,
        FormElementButton,
        FormElementFile,
        FormElementImage,
        FormElementHtml,
        FormElementAutocomplete
    },
    props: ['element_json', 'read_only', 'validate'],
    data() {
        return {
            show_errors: false,
            input_value: null,
        }
    },
    computed: {
        type: function() {
            return this.element_json.attributes.type.value;
        },
        required: function() {
            return this.element_json.attributes.required.value;
        },
        label: function(){
            return this.element_json.label;
        },
        hidden: function(){
            return this.element_json.attributes.hidden.value;
        },
        name: function(){
            return this.element_json.attributes.name.value;
        }
    },
    validations: function() {
        var input_value = {};
        if (this.required) {
            input_value = { ...input_value, ...{ required } };
        }
        return { "input_value": input_value };
    },
    methods: {
        emitAnswer: function(form_answer) {
            this.input_value = form_answer.value;
            this.$v.$touch();
            this.$nextTick(function() {
                if (this.$v.$invalid && !this.hidden) {
                    this.show_errors = true;
                }                
            })
            this.$emit('form_answer', form_answer);
        },
        showError: function(validator_name) {
            return false;
           // return !_.isUndefined(this.$v.input_value[validator_name]) && this.$v.input_value.$error && !this.$v.input_value[validator_name];
        },
        isValid: function() {
            if(this.hidden){
                return true;
            }
            this.$v.$touch()
            
            var custom_valid = true; //innocent until proven guilty.
            
            if(_.has(this.element_json, 'validation_method') && typeof(this.element_json.validation_method) == 'function'){
                custom_valid = this.element_json.validation_method(this);
            }

            if(this.$v.$invalid){
                //render error with html5 
                var element = this.$el.querySelector('input#' + this.name);                
                if(_.isNull(element) || _.isUndefined(element)){
                    element = this.$el.querySelector('#' + this.name + ' input');
                    if(_.isNull(element) || _.isUndefined(element)){
                        element = this.$el.querySelector(this.type + '#' + this.name);
                        if(_.isNull(element) || _.isUndefined(element)){
                            element = this.$el.querySelector('#' + this.name + ' ' + this.type);
                        }
                    }
                }
                console.log(element);
                if(element){
                    element.reportValidity();                    
                }
                else{
                    //oops... couldn't find element.
                    // console.log("couldn't report Invalidity", this);
                    // console.log(this.type,this);
                }
            }
            
            return !this.$v.$invalid && custom_valid ;
        }
    },
    mounted(){

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

.form-group--error,
.error{
    color: #CC0000;
}

</style>