<template>    
    <div v-show="!hidden" class="form-group row">
        <label class="col-sm-3 col-form-label" v-bind:for="id"><span class="required-indicator" v-if="required">*</span>{{label}}</label>
        <div class="col-sm-9 text-left">
            <div v-if="read_only" class="vue-form-renderer-value">
                {{input_value}}
            </div>
             <div v-else class="" data-app>
                
              <v-dialog
                ref="dialog"
                v-model="modal2"
                :return-value.sync="input_value"
                width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="input_value"
                    outlined
                    dense                    
                    v-bind="attrs"
                    v-on="on"
                     v-bind:id="id"
                    v-bind:class="class_" 
                    v-bind:name="name"
                    placeholder="hh:mm am/pm" 
                    v-bind:required="required"
                  ></v-text-field>
                </template>
                <v-time-picker
                  v-if="modal2"
                  v-model="input_value_iso_8601"
                  scrollable
                  elevation="0"
                  full-width
                  header-color="#CC0000"
                  
                >
                  <v-spacer></v-spacer>
                  <v-btn
                    text
                    color="grey"
                    @click="modal2 = false"
                  >
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="#4caf50"
                    @click="$refs.dialog.save(input_value)"
                  >
                    OK
                  </v-btn>
                </v-time-picker>
              </v-dialog>                  
                </div>
        </div>
    </div> 
</template>

<script>
import { VTimePicker,VDialog,VTextField } from 'vuetify/lib'
import FormElementBase from './FormElementBase'
import moment from 'moment'
import _ from 'lodash'

import Vuetify from 'vuetify/lib'
const opts = {}
export default {
  vuetify: new Vuetify(opts),
  name: 'FormElementTime',
  extends: FormElementBase,
  props: ['element_json', 'read_only'],
  components: {
      VTimePicker,
      VDialog,
      VTextField
  },
  data () {
    return {        
        input_value: null,
        input_values: [],
        menu2: false,
        modal2: false,    
    }
  },
  computed: {
    input_value_iso_8601: {
        get: function(){
            var input_value = _.isEmpty(this.input_value) ? null : this.input_value;
            return _.isNull(this.input_value) ? input_value : moment(this.input_value, 'hh:mm A').format('HH:mm');
            },
        set: function(val){
            return this.input_value = moment(val, 'HH:mm').format('hh:mm A');
        }
    }    
  },
  watch: {
    input_value: function(){
        this.emitFormAnswer();
    },
    input_values: function(){       
        this.emitFormAnswers();
    }
  },
  methods: {
    init: function(){
        this.input_value = this.value;
    },
  
    toggleValue: function(value){
        var input_values = this.input_values;
        if(_.indexOf(input_values, value) > -1){
            _.pull(input_values, value);
        }
        else{
            input_values.push(value);
        }
        this.$set(this, 'input_values', input_values);
    },

    //https://medium.com/javascript-inside/safely-accessing-deeply-nested-values-in-javascript-99bf72a0855a
    //call like: getNestedPropertyValue(props, user.post.0.comments)

    getNestedPropertyValue: function (o, p) {
        var a = p.split('.');
        return a.reduce(function (xs, x) {
            return xs && xs[x] ? xs[x] : null;
        }, o);
    }, 
    emitFormAnswer: function(){
        this.$emit('form_answer', this.form_answer);
    },
    emitFormAnswers: function(){
        this.$emit('form_answer', this.form_answers);
    },    

  },
  mounted: function(){
    this.$nextTick(this.init);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

::v-deep .theme--light.v-time-picker-clock--indeterminate .v-time-picker-clock__hand,
::v-deep .v-time-picker-clock__hand {
    background-color: #bdbdbd;
}

::v-deep .theme--light.v-time-picker-clock--indeterminate .v-time-picker-clock__item--active,
::v-deep .v-time-picker-clock__item--active{
    background-color: #bdbdbd;
}


::v-deep .v-text-field__details{
    display:none;
}

::v-deep .v-application--wrap{
    min-height: 0px !important;
}

::v-deep .v-text-field--outlined fieldset, ::v-deep .v-text-field--outlined fieldset{
    border: 1px solid #ced4da;
}
::v-deep .v-text-field--outlined.v-input--is-focused fieldset, ::v-deep .v-text-field--outlined.v-input--has-state fieldset{
    border: 1px solid #ced4da;
}

h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
</style>
