<template>
    <div id="app">
        <div class="json_wrapper" style="display:flex; width: 90%; margin: 0 auto;">
            <div style="flex: 0 0 50%;">
                <label>Enter your form definition json here:</label><br />
                <textarea style="width: 80%;" v-model="form"></textarea>
            </div>
            <div style="flex: 1;">
                <label>Enter your prefill json here:</label><br />
                <textarea style="width: 80%;" v-model="prefill_text"></textarea>
            </div>
        </div>
        <form>
        <form-renderer :prefill="prefill" :form_json="form_json"  v-on:form_answers="saveForm" ref="form" :settings="{validate:true}"> </form-renderer>
    </form>
        
        <button type="btn btn-sm btn-primary" v-on:click="submit()"> SUBMIT </button>
    </div>   
</template>
<script>
import FormRenderer from './components/FormRenderer'
import _ from 'lodash'
var default_form = require('./assets/form.json');
export default {
    name: 'App',
    components: {
        FormRenderer
    },
    data() {
        return {
        "form": JSON.stringify(default_form),
        form_answers: null,
        // prefill_text: `{"autofield": [{"text":"o2o","value":"v2v"}] }`
        prefill_text: `{"autofield": "v2v" }`,
        vue_elements: {},
      }
    },
    computed: {
        form_json() {
          try {
            var form = JSON.parse(this.form);
            form['id-3'].validation_method = this.validateStartEndTimes;
            form['id-4'].validation_method = this.validateStartEndTimes;
            form['id-7'].attributes.hidden.value = true;
            return form;
          } catch (e) {
            return {};
          }
        },
        prefill() {
          try {
            return JSON.parse(this.prefill_text);
          } catch (e) {
            return {};
          }
        }
    },
    methods: {
        saveForm: function(form_answers){
            this.form_answers = form_answers;
        },
        submit: function(){
            //check form validity            
            console.log('is Form Valid? ');
            console.log(this.$refs.form.isValid() ? 'yes' : 'no');
        },
        validateStartEndTimes: function(vue_element){
            //store vue element reference since this is used by both start and end
            this.vue_elements[vue_element.name] = vue_element;
            //if we don't have start and end then just bail
            if(_.isUndefined(this.vue_elements['start_time']) || _.isUndefined(this.vue_elements['end_time'])){
                return true;
            }
            //get values
            var start_time = this.vue_elements['start_time'].input_value;
            var end_time = this.vue_elements['end_time'].input_value;
            
            if(_.isEmpty(end_time) || _.isEmpty(start_time) || _.isNull(end_time) || _.isNull(start_time)){
                return true;
            }
            
            var start_time_input = this.vue_elements.start_time.$el.querySelector('input');
            
            start_time_input.setCustomValidity('');
            start_time =  Date.parse('1/1/21 ' + start_time);
            end_time =  Date.parse('1/1/21 ' + end_time);
            var end_time_under =  end_time <= start_time;
                            
            if(end_time_under){
                console.log('end before start yo!');
                console.log(start_time_input);
                start_time_input.setCustomValidity("Sorry, your start time must come before your end time");
                start_time_input.reportValidity();
                setTimeout(() => start_time_input.setCustomValidity(''), 3000);
                return false;
            }
            return true;
        },
    }
}
</script>
<style scoped>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    margin-top: 60px;
}
</style>